    /*==========================================
      Variables de estilo globales.
==========================================*/
:root {
    /* Colores de letras */
    --color-negro-1: #212322;            

    /* Colores reutilizables */
    --color-rojo-1: #ef4565;
    --color-rojo-2: #bb1d1a;
    --color-rojo-3: #c9041d; 
    
    --color-celeste-1: #3da9fc;
    --color-celeste-2: #269df8;
    --color-celeste-3: #1596f8;
    
    --color-bordes-1: #094067;
    --color-parrafos-1: #5f6c7b;

    /* Config globales  */
    --background-header-nav: #d5ddee;
    --background-main: #d5ddee;
    --background-main-conteiner: #A3B5DC;
}

/* MODO OSCURO */
:root[data-theme="dark"] {
    /* En esta parte se esta referenciando a un valor de un atributo html (data-theme),
    si este valor coincide con dark se aplican estas variables / cambios en los colores gernerales.
     */
    --color-celeste-1: #7EC6FF;
    --color-celeste-2: #63B8FF;
    --color-celeste-3: #4EAEFF;

    --background-header-nav: #435663;        
    --background-main: #435663;              
    --background-main-conteiner: #A3B087;    
}

      /*==========================================
      Clases reutilizables.
==========================================*/
.texto-negro{
    color: var(--color-negro-1);
}
.texto-rojo{
    color: var(--color-rojo-1);
}
.texto-blanco{
    color: white;
} 

.color-borde{
    color: var(--color-bordes-1);
}

.main-content-container {
    background-color: var(--background-main-conteiner);

    margin: 3rem auto;
    padding: 3rem;
    border-radius: 20px;

    /* Sombras más visibles y suaves */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    /* Efecto de borde sutil */
    border: 3px solid var(--color-celeste-3);

    /* Transición suave al pasar el mouse */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.main-content-container:hover {
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
  
}


    /*==========================================
      Estilo general inicial.
==========================================*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif; 
    /* En principio fuente global */
    font-weight: 700;    
    /*Cambiar el peso, de ser necesario*/
  }

main{
    background-color: var(--background-main);  
    margin: 0 10px;
    border-left: 3px solid var(--color-bordes-1);
    border-right: 3px solid var(--color-bordes-1); 
    height: 100vh;  
    }

.logo-game-stop {
    width: 3vw;
    height: 3vw;
    min-width: 40px;
    min-height: 40px;
    margin: 20px;
  }

/* Ocultar boton desplegable */
#menu-toggle {
    display: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

    /*==========================================
      Estilo del header y el nav.
==========================================*/
  

header{
    background-color: var(--background-header-nav);    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 5vh;
    margin: 0 10px;
    border-left: 3px solid var(--color-bordes-1);
    border-right: 3px solid var(--color-bordes-1);

  }
  

.sticky-nav {    
    padding: 1px 1px;
    margin: 0 10px;

    background-color: var(--background-header-nav);
    position: sticky;
    top: 0; /* se pega al top */
    z-index: 100;

    border-left: 3px solid var(--color-bordes-1);
    border-right: 3px solid var(--color-bordes-1);
    border-bottom:  3px solid var(--color-bordes-1);
    
}

.sticky-nav ul {
    margin: 7;
    padding: 0;
    list-style: none; /* ✅ quita los puntos */
    display: flex;
    flex-wrap: wrap; /* 👉 permite que los links bajen de línea */
    justify-content: space-evenly;

    gap: 15px;
}


.sticky-nav a {
  font-weight: 500;  
  text-decoration: none;
  background-color: var(--color-celeste-1);
  padding: 8px 16px;
  border-radius: 6px; 
  border: 2px solid var(--color-bordes-1);

  display: inline-block; /* asegura que respeten márgenes y padding */
  white-space: nowrap; /* evita que el texto colapse o se corte */
}


.sticky-nav a:hover {
    background-color: var(--color-celeste-3);
    transform: scale(1.05);
}

.selected-anchor {
    border-color: var(--color-celeste-2);
    font-weight: 600;
    color: white;
}


 /* 
 A considerar para hacer responsible en ds moviles:

 buscar que el logo quede centrado y que el nav quede dentro de un desplegable
 */
      /*==========================================
      Responsibe mobile.
==========================================*/
@media (max-width: 700px) {
    main {
        margin: 0;
        border-left: 0;
        border-right: 0;
    }
    
    header{
        margin: 0;
        border-left: 3px solid var(--color-bordes-1);
        border-right: 3px solid var(--color-bordes-1);
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    h1{
        margin: 10px;
    }
    h3{
        margin: 10px;
    }

    main{
        margin: 0;
        border-left: 3px solid var(--color-bordes-1);
        border-right: 3px solid var(--color-bordes-1); 
    }

    .logo-game-stop {
        margin: 5px;
    }

    .sticky-nav {
        margin: 0;
        border-left: 3px solid var(--color-bordes-1);
        border-right: 3px solid var(--color-bordes-1); 
    }



    /* Comportamiento del desplegable */
    
    /* Mostrar icono */
    #menu-toggle {
        display: block;
    }

    /* Ocultar menú por defecto */
    .sticky-nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 10px 0;
    }

    /* Mostrar menú cuando esté activo */
    .sticky-nav ul.active {
        display: flex;
    }
}



