    /*==========================================
      Variables de estilo globales.
==========================================*/
:root {
    /* Azules */
    --color-azul-6: oklch(42.4% 0.199 265.638);
    --color-azul-5: #0060d6;
    --color-azul-4: #0097f6;
    --color-azul-3: #00d6ff; 
    --color-azul-2: #84ffff; 
    --color-azul-1: #e8ffff; 


    /* Colores de letras */

    --color-negro-1: #212322;
    --color-rojo-1: #ee2a28;
        
      }

      /*==========================================
      Clases reutilizables.
==========================================*/
.texto-negro{
  color: var(--color-negro-1);
}
.texto-rojo{
  color: var(--color-rojo-1);
}
.texto-blanco{
  color: white;
} 

.main-content-container {
  background-color: var(--color-azul-4);
  max-width: 800px;
  margin: 3rem auto;
  padding: 3rem;
  border-radius: 20px;

  /* Sombras más visibles y suaves */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  /* Efecto de borde sutil */
  border: 3px solid var(--color-azul-5);

  /* Transición suave al pasar el mouse */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.main-content-container:hover {
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}



    /*==========================================
      Estilo general inicial.
==========================================*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif; 
    /* En principio fuente global */
    font-weight: 700;    
    /*Cambiar el peso, de ser necesario*/
  }

main{
      background-image: url("../src/background-image.png"); 
      height: 100vh; 
      background-attachment: fixed; /* La imagen se queda fija al hacer scroll */
      background-repeat: repeat; 
      background-size: 375px;
      background-color: var(--color-azul-3);   
    }

.logo-game-stop {
    width: 3vw;
    height: 3vw;
    min-width: 40px;
    min-height: 40px;
    margin: 20px;
  }

    /*==========================================
      Estilo del header y el nav.
==========================================*/
  

header{
    background-color: var(--color-azul-6);    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 5vh;
  }
  

.sticky-nav {
  padding: 10px 5vh;
  background-color: var(--color-azul-6);
  position: sticky;
  top: 0; /* se pega al top */
  z-index: 100;
}

.sticky-nav ul {
  display: flex;
  justify-content: space-around; /* centra los elementos */
  gap: 30px; /* separa los items de forma pareja */
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sticky-nav a {
  font-weight: 500;  
  text-decoration: none;
  background-color: var(--color-rojo-1);
  padding: 8px 16px;
  border-radius: 6px; 
  /* bordes redondeados, más moderno */
  /* transition: background-color 0.3s ease, transform 0.2s ease; */
}

.sticky-nav a:hover {
  background-color: #c9041d; /* rojo más oscuro */
  transform: scale(1.05);
}



  




