main{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.texto-azul{
  color: oklch(42.4% 0.199 265.638);
}

    /*==========================================
      Estilo general de formularios.
==========================================*/

.user-name-form fieldset{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}



.fieldset-style{
  border: 2px solid #007bff;  
  border-radius: 8px;         
  padding: 1em 1.5em;          
}

hr{
  color: rgb(7, 7, 7);
}

    /*==========================================
      Estilo de inputs.
==========================================*/

form input{
  background-color: #e0e2ec;
  border: 0;
  padding: 4px;
  border-bottom: 2px solid black;
  border-radius: 3px;
}

form input:hover{
  background-color: #d5d3d6;
}

form input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
  outline: none;
}

.admin-login-form a{
  display: flex;
  align-items: center;
  flex-direction: column;

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.toggle-theme-button{
      background-color: var(--color-celeste-1);
      margin: 0 auto;      /* lo centra horizontalmente */
      cursor: pointer;     /* opcional pero recomendado */
      padding: 3px;
  
  }
  
.arrow-redirect{
    font-size: 24px;
}
