/*===============================
    CONFIGURACIONES GENERALES
================================*/





/*==========
    HEADER
===========*/


/*===========
    MAIN
===========*/

main {
    display: flex;
    flex-direction: column;
}

/*-----------------------
    SECCION PRODUCTOS
-----------------------*/

.productos {
    background-color: var(--color-fondo-productos);
    border-radius: 10px;
}

.encabezado-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* contenedor de frutas y sus trajetas*/
#contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px;
}

.card-producto {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

/* imágenes */
.card-producto img {
    width: 80px;
    height: 80px;
}

.card-producto h2,
.card-producto p {
    margin-top: 3px;
    margin-bottom: 3px;
}

/* .bloque-item {  */
    
    /* list-style: none; quita los puntitos */
    /* display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
} */


/*===========
    FOOTER
===========*/



/*=============
    GENERALES
=============*/

/*-------------------
    MAIN y FOOTER
/* --------------------*/
main, footer {
    padding: 10px;
} */


/*---------------
    BOTONES
----------------*/



button {
    height: 30px;
}

button:hover {
    opacity: 0.8; /* efecto sutil de transparencia */
    cursor: pointer;
    transform: scale(1.03); /* los agranda un poquito */
}