/* analizar distribucion del main, para cada caso */

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-content-container section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-container section th{
    padding: 10px;
}

.text-ticket{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}