/* analizar distribucion del main, para cada caso */

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-content-container h3{
    margin-right: 50vw;
}

/* @media (min-width: 800px) {
  h3 {
    margin-right: 10vw;
  }
} */

/* analizar distribucion del main, para cada caso */

