/* analizar distribucion del main, para cada caso */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* analizar distribucion del main, para cada caso */

.card-carrito img {
    width: 80px;
    height: 80px;
}